@import controllers.auth.AuthForms

@this(mainAuth: views.html.templates.mainAuth)

@(signInForm: Form[AuthForms.SignInData])(implicit request: RequestHeader, messages: Messages)

@implicitFieldConstructor = @{b3.horizontal.fieldConstructor("col-md-3","col-md-6")}

@mainAuth(Messages("signin.title"), tab = "signin") {
  @request.flash.get("error").map { msg =>
    @errors.alert(msg, "error")
  }
  @b3.form(controllers.auth.routes.Auth.authenticate) {
    <fieldset>
      <legend>@Messages("signin.legend")</legend>
      @helper.CSRF.formField

      @b3.email(signInForm("email"),
        '_label -> Messages("signin.email"),
        'placeholder -> Messages("signin.email"),
        'autofocus -> true)

      @b3.password(signInForm("password"),
        '_label -> Messages("signin.password"),
        'placeholder -> Messages("signin.password"))

      @b3.checkbox(signInForm("rememberMe"),
        '_text -> Messages("signin.rememberMe"),
        'value -> false)

      @b3.submit('class -> "btn btn-primary"){ @Messages("signin.submit") }
      <div class="post-form-opts">
        <p>@Html(Messages("signin.signup", controllers.auth.routes.Auth.startSignUp))</p>
        <p>@Html(Messages("signin.resetPassword", controllers.auth.routes.Auth.startResetPassword))</p>
        <p>@Html(Messages("signin.resendEmail", controllers.auth.routes.Auth.resendEmail))</p>
      </div>
    </fieldset>
  }
}
