@(users: Seq[User], currentUser: Option[User])

@main("Title Page") {
    <div>
        @currentUser.map { user =>
            Logged in as: <strong>@user.email</strong>
        }.getOrElse {
            Browsing as a guest
        }
    </div>

    <h2>Users</h2>

    <table>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
        @for(user <- users){
            <tr>
                <td>@user.id</td>
                <td>@user.email</td>
                <td>@user.createdAt</td>
                <td>@user.updatedAt</td>
            </tr>
        }
    </table>
}
