@import com.mohiva.play.silhouette.api.LoginInfo

@this(mainApp: views.html.templates.mainApp)

@(users: Seq[User], currentUser: Option[User], loginInfo: Option[LoginInfo])(implicit messages: Messages)

@mainApp("Title Page", tab = "index", loggedUser = currentUser, loginInfo = loginInfo) {
<div>
  @currentUser.map { user =>
  <span>
    Logged in as: <strong>@user.email</strong>
  </span>
  <span>
    <a href="@controllers.auth.routes.Auth.signOut">@Messages("navbar.signout")</a>
  </span>
  }.getOrElse {
  Browsing as a guest
  }
</div>

<h2>Users</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Email</th>
    <th>Created At</th>
    <th>Updated At</th>
  </tr>
  @for(user <- users) {
  <tr>
    <td>@user.id</td>
    <td>@user.email</td>
    <td>@user.createdAt</td>
    <td>@user.updatedAt</td>
  </tr>
  }
</table>
}
